/* #region --reset-- */
.body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #434455;
    background-color: #FFFFFF;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
ul,ol{
    margin: 0;
    padding-left: 0;
}
img {
  max-width: 100%;
  display: block;
}
button {
	font-family: inherit;
	color: currentColor;
}
input {
	font-family: inherit;
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
/* #endregion */
/* #region --def-- */
.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}
/* #endregion */
/* #region --container-- */
.container { 
max-width: 1158px;
padding-left:  15px;
padding-right:  15px;
margin: 0 auto;
}
/* #endregion */
/* #region --header-- */
.logo-half-head{
    color: #2E2F42;
}
.logo-link {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    padding: 24px 0;
    margin-right: 76px;
}
.logo-link:hover,.logo-link:focus{
color: #404bbf;
}
.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}
.nav-link-current{
    color: #404bbf;
}
.nav-link-current::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
}
.nav-link:hover,.nav-link:focus{
    color: #404bbf;
}
.address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,.address-link:focus{
    color: #404bbf;
}
.address{
    font-style: normal;
}
.header>.container{
    display: flex;
    justify-content: space-between;
}
.nav{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 40px;
}
.address-list{
    display: flex;
    gap: 40px;
    
}
.header{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* #endregion */
/* #region --main-- */
/* #region --hero-- */
.page-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px auto;
}
.section-hero.section
{
    color: #FFF;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    background-position: center;
    text-align: center;
    padding: 188px 0;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;

}
.hero-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    border: none;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,.hero-button:focus{
    background-color: #404BBF;
}
/* #endregion */
/* #region --advantages-- */
.section-advantages{
    color: #2e2f42;
}
.advantages-item .list-text {
    letter-spacing: 0.02em;
    color: #434455;
}
.advantages-item{
    width: calc((100% - 72px) / 4)
}
.advantages-icon-cont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
}
/* #endregion */
/* #region --our team-- */
.section-ourteam{
    background-color: #F4F4FD;
}
.team-item{
    background-color: #FFFFFF;
    text-align: center;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.ourteam-teamtextbox{
    padding: 32px 0;
}
.ourteam-teamtextbox .list-title{
    text-align: center;
}
.ourteam-teamtextbox .list-text{
    text-align: center;
    margin-bottom: 8px;
}
.team-photo{
    object-fit:cover
}
.team-socials-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.team-socials-link {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials-link:hover, .team-socials-link:focus{
    background-color: #404bbf;
}
.team-socials-icon{
    fill: #F4F4FD;
}
/* #endregion */
/* #region --our portfolio-- */
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-item{
    width: calc((100% - 48px) / 3);
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover{
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .portfolio-overlay{
    transform: translatey(0);
}
.portfolio-item:hover .portfolio-overlay-text{
    transform: translateY(0%);
}
.portfolio-wrapper{
    position: relative;
    overflow: hidden;
}
.portfolio-overlay-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    color: #F4F4FD;    

    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-textblock{
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    padding: 32px 16px;
}
/* #endregion */
/* #region --other-- */
.section-title {
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}
.list-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.list-text{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.advantages-list{
    display: flex;
    gap: 24px;
}
.team-list{
    display: flex;
    gap: 24px;
}
/* #endregion */
/* #endregion */
/* #region --footer-- */
.footer{
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 100px 0;
}
.footer .container{
    display: flex;
    align-items: baseline;
}
.footer-info{
    margin-right: 120px;
}
.footer-text{
    letter-spacing: 0.02em;
}
.logo-half-foot{
    color: #F4F4FD;
}
.footer .footer-text{
    max-width: 264px;
}
.footer .logo-link{
    display: inline-block;
    margin: 0 0 16px 0;
    padding: 0;
}
.footer-socials{
    margin-right: 80px;
}
.footer-socials-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.footer-socials-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.footer-socials-link {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover, .footer-socials-link:focus{
    background-color: #31D0AA;
}
.footer-socials-icon{
    fill: #F4F4FD;
}
.footer-subs-text{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.footer-subs-form{
    display: flex;
    gap: 24px;
}
.footer-form-email{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}
.footer-form-email::placeholder{
    color: #ffffff;
}
.footer-subs-button{
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
.footer-send-icon{
    margin-left: 16px;
    fill: #fff;
}
/* #endregion */
/* #region --modal-- */
.modal-overlay{
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
} 
.modal{
    background-color: #FCFCFC;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
    overflow-y: auto;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.form-close-but{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background-color: #E7E9FC;
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-close-but:focus, .form-close-but:hover{
    background-color: #404BBF;
    fill: #fff;
    border: none;
}
.modal-close-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}
.form-wrapper{
    margin-bottom: 8px;
}
.form-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8E8F99;
    position: relative;
    display: block;
    margin-bottom: 4px;
}
.form-input-wrapper{
    position: relative;
}
.input-form{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form:focus{
    border-color: #4D5AE5;
}
.form-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form:focus + .form-icon{
    fill: #4D5AE5;
}
.text-area{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.4);
}
.text-area::placeholder{
    color: rgba(46, 47, 66, 0.4);
}
.form-pp{
    display: flex;
    margin-bottom: 24px;
}
.form-pp-check{
    opacity: 0;
    pointer-events: none;
    position: absolute;
}
.form-pp-check:checked{
    accent-color: #404BBF;
}
.form-pp-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8E8F99;
    cursor: pointer;
    display: flex;

}
.form-pp-span{
    display: inline-flex;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    margin-right: 8px;
}
.form-pp-check:checked{
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}
.form-pp-link{
    color: #4d5ae5;
    margin-left: 4px;
}
.form-send-button{
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    min-width: 169px;
    height: 56px;
    align-self: center;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    margin: auto;
}
.form-send-button:focus, .form-send-button:hover{
    background-color: #404BBF;
}
.form-wrapper-text-area{
    margin-bottom: 16px;
}
.form-pp-check:checked + .form-pp-text > .form-pp-span {
    border: none;
    fill:#F4F4FD;
    background-color: #404bbf;
}
.form-pp-span > .form-icon {
    top: auto;
    left: auto;
    transform: translateY(0);
    align-self: center;
    justify-self: center;
}
/* #endregion */

/* #region --template-- */
/* #endregion */